

.container-famili{
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 100px;
  padding-bottom: 0px;
}

.projet-datails h1{
    color: #096977;
    font-weight: 700;
    font-size: 45px;
    
}

.projet-datails p{
    margin-top: 20px;
    font-size: 20px;
    color: #9da3a4;
    font-weight: 600;
    text-align: justify;
    
    margin-right: 15%; /* Ajustez selon vos besoins */
}

.familishop{
    width: 50%;
    margin-left: 0%;
    margin-top: 19px;
   align-items: center;
    margin-right: 50%; /* Ajustez selon vos besoins */
}



.techno{
    margin-left: 25%;
    margin-top: 40px;
    margin-left: 0%; /* Ajustez selon vos besoins */
    margin-right: 20%; /* Ajustez selon vos besoins */
   
}

.techno h4{
    font-size: 35px;
    font-weight: 700;
    color: #d6d6d6;
 
}

.techno ul{
  list-style: none; 
    font-size: 20px;
    font-weight: 600;
    color: #9da3a4;
   
}

.projet-screens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: justify;
    text-align: left;
   

}
.projet-screens p{
    color: #096977;
    font-weight: 700;
    font-size: 45px;
      
}





.ImageSlider {
    text-align: center;
    margin: 2rem auto;
    box-shadow: 0 0 30px rgba(232, 211, 211, 0.15), 0 0 40px rgba(224, 208, 208, 0.1);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(6.3px);
    border-radius: 20px;
    padding-top: 30px;
    
  }
  
  .slider-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  
  .carousel-slide img {
    max-width:100%; /* Adjust as needed */
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .carousel-slide{
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 10px;
  }
  
  .arrow {
    font-size: 3rem;
    cursor: pointer;
    color: #096977;
    margin: 0 1rem;
  }
  
  .dots {
    margin-top: 1rem;
    text-align: center;
  }
  
  .dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
  }
  
  .dots span.active {
    background-color: #096977;
  }
  
  
  .vertical-images {
    display: none; /* Hide the vertical images by default */
  }
  
  .vertical-image {
    margin: 1rem 0;
  }

 

  @media (min-width: 1400px) {
    

    .projet-datails{  
        display: flex;
        justify-content: center;
        padding: 20px;
        box-shadow: 0 0 30px rgba(232, 211, 211, 0.15), 0 0 40px rgba(224, 208, 208, 0.1);
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        
        }
  }

  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .projet-datails{  
        padding: 20px;
        box-shadow: 0 0 30px rgba(232, 211, 211, 0.15), 0 0 40px rgba(224, 208, 208, 0.1);
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        }
    .techno h4{
        font-size: 23px;
    }
    
    .techno ul{
        list-style: none; 
        font-size: 18px;
    }
    .projet-datails p{
        margin-top: 20px;
        font-size: 18px;
        
    }
  }


    /* LG Devices (≥992px and <1200px) */
 @media (min-width: 992px) and (max-width: 1199.98px) {
    .projet-datails{  
        padding: 20px;
        box-shadow: 0 0 30px rgba(232, 211, 211, 0.15), 0 0 40px rgba(224, 208, 208, 0.1);
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        }

    .techno h4{
        font-size: 17.5px;
    }
    
    .techno ul{
        list-style: none; 
        font-size: 16px;
    }
    .projet-datails p{
        margin-top: 20px;
        font-size: 16px;
        
    }
    
    .carousel-slide{
        padding-left: 0;
        padding-right: 0;
      }

      .projet-screens p{
        font-size: 42px;
    }
 }



 /* MD Devices (≥768px and <992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .projet-datails{  
        padding: 20px;
        box-shadow: 0 0 30px rgba(232, 211, 211, 0.15), 0 0 40px rgba(224, 208, 208, 0.1);
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        }

    .container-famili{
        padding-left: 50px;
        padding-right: 50px;
      }

      .techno h4{
        font-size: 20px;
        margin-right: 30px;
      margin-left: 45%;
    }
    .familishop{
      width: 35%;
      height: 35%;
       
      margin-right: 30px;
      margin-left: 30%;
      margin-top: 10px;
  }
    
    .techno ul{
        list-style: none; 
        font-size: 15px;
        margin-right: 30px;
      margin-left: 50%;
    }
    .projet-datails p{
        margin-top: 20px;
        font-size: 14px;
        
    }
    
    .carousel-slide{
        padding-left: 0;
        padding-right: 0;
      }

      .projet-screens p{
        font-size: 37px;
    }
    .projet-datails h1{
        color: #096977;
        font-weight: 700;
        font-size: 38px;
    }

   }



/* SM Devices (<768px) */
@media (max-width: 767.98px) {
    .container-famili{
        padding-left: 25px; 
        padding-right: 25px;
      }
      .projet-datails{  
        display: flex;
        justify-content: center;
        padding: 10px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border:1px solid rgba(255, 255, 255, 0.18);
        }
        .techno h4{
            font-size: 14px;
            margin-left: 20px;
        }
        
        .techno ul{
            list-style: none; 
            font-size: 13px;
        }
        .projet-datails p{
            margin-top: 20px;
            font-size: 13px;
            
        }
        
        .carousel-slide{
            padding-left: 0;
            padding-right: 0;
          }
    
          .projet-screens p{
            font-size: 19px;
        }
        .projet-datails h1{
            color: #096977;
            font-weight: 700;
            font-size: 28px;
        }

        .smforloggo{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-right: 0%; 
            margin-left: 20%; 
        }
        .techno{
            margin-left: 0%;
            margin-right: 30%; 
            text-align: align-items;
            margin-top: 40px;
        }
        .familishop{
            width: 80px;
            margin-right: 10px;
            margin-top: 0px;
        }

        .ImageSlider {
            display: none; /* Hide the slider on small screens */
          }
        
          .vertical-images {
            display: block; /* Show the vertical images on small screens */
          }

          .image-container {
            margin-bottom: 30px; /* Spacing between the bordered divs */
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            -webkit-backdrop-filter: blur(10px);
            border-radius: 20px;
            border:1px solid rgba(255, 255, 255, 0.18);
            box-shadow: 0 0 5px rgba(232, 211, 211, 0.15), 0 0 20px rgba(224, 208, 208, 0.1);
            height: 11%;
            display: flex;
            align-items: center;
            justify-content: center;
            
          }
          
          .bordered-div {
            padding: 10px; /* Add padding around the image */
            
          }
          
          .vertical-image {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        
     }




/*
.container-famili{
  padding-left: 280px;
  padding-right: 280px;
  padding-top: 30px;
  padding-bottom: 2px;
}

.projet-datails h1{
    color: #096977;
    font-weight: 700;
    font-size: 45px;
}

.projet-datails p{
    margin-top: 20px;
    font-size: 20px;
    color: #9da3a4;
    font-weight: 600;
    text-align: justify;
}

.familishop{
    width: 200px;
    margin-left: 35%;
    margin-top: 19px;
}



.techno{
    margin-left: 25%;
    margin-top: 40px;
}

.techno h4{
    font-size: 35px;
    font-weight: 700;
    color: #d6d6d6;
}

.techno ul{
    list-style: none; 
    font-size: 20px;
    font-weight: 600;
    color: #9da3a4;

}

.projet-screens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.projet-screens p{
    color: #096977;
    font-weight: 700;
    font-size: 45px;
}





.ImageSlider {
    text-align: center;
    margin: 2rem auto;
    box-shadow: 0 0 30px rgba(232, 211, 211, 0.15), 0 0 40px rgba(224, 208, 208, 0.1);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(6.3px);
    border-radius: 20px;
    padding-top: 30px;
    
  }
  
  .slider-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  
  .carousel-slide img {
    max-width:100%; 
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .carousel-slide{
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 10px;
  }
  
  .arrow {
    font-size: 3rem;
    cursor: pointer;
    color: #096977;
    margin: 0 1rem;
  }
  
  .dots {
    margin-top: 1rem;
    text-align: center;
  }
  
  .dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
  }
  
  .dots span.active {
    background-color: #096977;
  }
  
  
  .vertical-images {
    display: none; 
  }
  
  .vertical-image {
    margin: 1rem 0;
  }

 

  @media (min-width: 1400px) {
    

    .projet-datails{  
        display: flex;
        justify-content: center;
        padding: 20px;
        box-shadow: 0 0 30px rgba(232, 211, 211, 0.15), 0 0 40px rgba(224, 208, 208, 0.1);
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        }
  }

  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .projet-datails{  
        padding: 20px;
        box-shadow: 0 0 30px rgba(232, 211, 211, 0.15), 0 0 40px rgba(224, 208, 208, 0.1);
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        }
    .techno h4{
        font-size: 23px;
    }
    
    .techno ul{
        list-style: none; 
        font-size: 18px;
    }
    .projet-datails p{
        margin-top: 20px;
        font-size: 18px;
        
    }
  }


    {/* LG Devices (≥992px and <1200px) */
 /*@media (min-width: 992px) and (max-width: 1199.98px) {
    .projet-datails{  
        padding: 20px;
        box-shadow: 0 0 30px rgba(232, 211, 211, 0.15), 0 0 40px rgba(224, 208, 208, 0.1);
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        }

    .techno h4{
        font-size: 17.5px;
    }
    
    .techno ul{
        list-style: none; 
        font-size: 16px;
    }
    .projet-datails p{
        margin-top: 90px;
        font-size: 25px;
        
    }
    
    .carousel-slide{
        padding-left: 0;
        padding-right: 0;
      }

      .projet-screens p{
        font-size: 42px;
    }
 }

*/

 /* MD Devices (≥768px and <992px) */
 /*
@media (min-width: 768px) and (max-width: 991.98px) {
    .projet-datails{  
        padding: 20px;
        box-shadow: 0 0 30px rgba(232, 211, 211, 0.15), 0 0 40px rgba(224, 208, 208, 0.1);
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        }

    .container-famili{
        padding-left: 50px;
        padding-right: 50px;
      }

      .techno h4{
        font-size: 15.5px;
    }
    
    .techno ul{
        list-style: none; 
        font-size: 13px;
    }
    .projet-datails p{
        margin-top: 20px;
        font-size: 14px;
        
    }
    
    .carousel-slide{
        padding-left: 0;
        padding-right: 0;
      }

      .projet-screens p{
        font-size: 37px;
    }
    .projet-datails h1{
        color: #096977;
        font-weight: 700;
        font-size: 38px;
    }

   }

  */

/* SM Devices (<768px) */
/*
@media (max-width: 767.98px) {
    .container-famili{
        padding-left: 90px;
        padding-right: 25px;
      }
      .projet-datails{  
        display: flex;
        justify-content: center;
        padding: 10px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border:1px solid rgba(255, 255, 255, 0.18);
        }
        .techno h4{
            font-size: 14px;
            margin-left: 20px;
        }
        
        .techno ul{
            list-style: none; 
            font-size: 13px;
        }
        .projet-datails p{
            margin-top: 20px;
            font-size: 13px;
            
        }
        
        .carousel-slide{
            padding-left: 0;
            padding-right: 0;
          }
    
          .projet-screens p{
            font-size: 19px;
        }
        .projet-datails h1{
            color: #096977;
            font-weight: 700;
            font-size: 28px;
        }

        .smforloggo{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .techno{
            margin-left: 30px;
            margin-top: 40px;
        }
        .familishop{
            width: 80px;
            margin-left: 0;
            margin-top: 19px;
        }

        .ImageSlider {
            display: none; 
          }
        
          .vertical-images {
            display: block; 
          }

          .image-container {
            margin-bottom: 30px; 
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            -webkit-backdrop-filter: blur(10px);
            border-radius: 20px;
            border:1px solid rgba(255, 255, 255, 0.18);
            box-shadow: 0 0 5px rgba(232, 211, 211, 0.15), 0 0 20px rgba(224, 208, 208, 0.1);
            height: 11%;
            display: flex;
            align-items: center;
            justify-content: center;
            
          }
          
          .bordered-div {
            padding: 10px; 
            
          }
          
          .vertical-image {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        
     }
  
  
  */